*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  
/******************************Nav Bar *****************************/


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*Change the link color to #111 (black) on hover*/
  ul li a:hover {
    background-color: #111;
  }
  
  /*movie list*/

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: purple;
    border-radius: 8px;
  }
  
  ol li {
    float: center;
  }
  
  ol li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    


/*
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
*/

body {
  font-family: 'Nunito', sans-serif;
  color: black;
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh; 
  margin:0;
}

main {
  flex: 1 0 auto; /* allows the content to grow but not shrink */
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orangered;
  color: white;
  text-align: end;
}




div {
  margin: 0 0 30px 0;
  text-align: center;
}


h1 {
  margin: 0 0 30px 0;
  text-align: center;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
}

p {
  color: pink;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: black;
  border-radius: 8px;
}

h2 {
  margin: 0 0 30px 0;
  text-align: center;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
}

p2 {
  color: orange;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: black;
  border-radius: 8px;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: silver;
  border-radius: 8px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="favorite"],
input[type="randomMovie"],
textarea,

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}


select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}


button {
  padding: 19px 39px 18px 39px;
  color: white;
  background-color: grey;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid red;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/*congratulation Screen*/
body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

p5 {
  color: green;
  font-size: 500%;
}



/* Media Queries  */


/* small devices  */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}

/* medium devices  */
@media only screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}


/* large devices  */
@media only screen and (min-width: 1200px) {
  body {
    background-color: black;
  }
}

/* Congratulation scree */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


